*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#pagina{
    width: 1024px;
}
.Contactos{
    width: 1024px;
    background-color: #3C2313;
    color:white;
    margin-bottom: 0px;
    position: relative;
}
#Derechos{
    width: 1024px;
    height: 20px;
    background-color: black;
    color: white;
    text-align: center;
}
#Menu1{
    width: 1024px;
    height: 20px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding-left: 90px;
    padding-right: 60px;
    font-size: 10px;
    align-items: center;
}
#menu2{
    width: 1024px;
    height: 62px;
    background-color: #F0A83E;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 58px;
    padding-right: 40px;
}
.fondo1{
    background-image: url(../img/Fondo.png);
    background-size: 100%;
    width: 1024px;
    height: 409px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}
#titulo{
    width: 365px;
    height: 54px;
    padding: 9px;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    background-color: white;
    position: absolute;
    right: 12px;
    bottom: 199px;
}
.centronegrita{
    text-align: center;
    font-weight: bold;
    position: absolute;
    right: 95px;
    bottom: 168px;
}
.centro{
    text-align: center;
    color: white;
    background-color: #F0A83E;
    width: 141px;
    height: 49px;
    padding: 15px;
    position: absolute;
    right: 117px;
    bottom: 107px;
}
.bodyproductos{
    width: 1024px;
    height: 200px;
    background-color: #FBFAF6;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 24px;
}
.negritatitulo{
    font-weight: bold;
    font-size: 30px;
}
#menuregional{
    display: flex;
    width: 20%;
    justify-content: space-around;
}
#grandes{
    width: 80%;
}
#menuprincipal{
    width: 40%;
    display: flex;
    justify-content: space-around;
}
.productos1{
    width: 1024px;
    display: flex;
    justify-content: center;
    height: 300px;
    text-align: center;
}
.img{
    width: 265px;
    height: 268px;
}