.Contactos{
    width: 100%;
    background-color: #3C2313;
    color:white;
    margin-bottom: 0px;
}
#Derechos{
    width: 100%;
    height: 20px;
    background-color: black;
    color: white;
    text-align: center;
}
/* p {
    font-family: 'Roboto', sans-serif;
} */
#Menu1{
    background-color: black;
    color: white;

}
#menu2{
    background-color: #F0A83E;
    color: white;
}
.fondo1{
    background-image: url(../img/Fondo.png);
    background-size: 100%;
    background-repeat: round;
    width: 100%;
    height: 1000px;
}
#titulo{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}
.centronegrita{
    text-align: center;
    font-weight: bold;
}
.centro{
    text-align: center;
    color: white;
    background-color: #F0A83E;
}
.bodyproductos{
    background-color: #FBFAF6;
}
.negritatitulo{
    font-weight: bold;
    font-size: 30px;
}